h2{
    color: red;    
  }
  
h1{
    font-size: 4em;
    background-color: aquamarine;     
    color: blue;
    border-color: black;
    border-style: dashed;
    text-align: center; 
  }

.nome{
  text-decoration: underline wavy red;
}

div#azul{
 color: blue;
}

img {
  border-radius: 50%;
}