h2{
    color: red;    
  }
  
  h1{
    font-size: 4em;
    background-color: aquamarine;     
    color: blue;
    border-color: black;
    border-style: dashed;
    text-align: center; 
  }

 /* .photo{
    float: left;
    margin: 0px 15px 15px 0px;    
  }*/